# Python
__pycache__/
*.py[cod]
*.pyo

# Django
*.sqlite3

# Virtual environments
.venv/
env/
venv/
myvenv/

# Editor / OS files
.vscode/
.idea/
.DS_Store

# Environment variables
*.env

# Data
data/

# 인증서 발급용
cerf_file/